{% extends "ClienteSiniestro/base.html" %}

{% block content %}
       
       <h1>Casos denunciados</h1>
        <div>
            <div class="d-flex flex-wrap">

                {% for s in Sinis %}
                
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{s.asunto}}</h5>
                        <p class="card-text">{{s.descripcion}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha: {{s.fecha}}</li>

                    </ul>
                </div>

                {% empty %}
                <h3>No se han denunciado siniestros aun</h3>
                {% endfor %}

            </div>
        </div>
{% endblock content %}