{% extends "ClienteSiniestro/base.html" %}

{% block content %}
       
       <h1>Tus siniestros</h1>
        <div>
            <div class="d-flex flex-wrap">

              
                {% for s in Sinis %}

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{s.asunto}}</h5>
                        <p class="card-text">{{s.descripcion}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fecha: {{s.fecha}}</li>
                    </ul>
                </div>

                {% empty %}

                <h3>Sin Siniestros</h3>

                {% endfor %}

            </div>
        </div>
{% endblock content %}