{% extends "ClienteSiniestro/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Subir evidencias para: {{ siniestro.asunto }}</h2>

    <form method="post" enctype="multipart/form-data" class="mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Guardar evidencias</button>
    </form>

    <hr>

    <h4>Evidencias actuales</h4>
    {% if siniestro.imagen1 or siniestro.imagen2 or siniestro.imagen3 or siniestro.imagen4 or siniestro.imagen5 %}
        <ul>
            {% if siniestro.imagen1 %}
                <li><img src="{{ siniestro.imagen1.url }}" width="150"><br>{{ siniestro.expli1 }}</li>
            {% endif %}
            {% if siniestro.imagen2 %}
                <li><img src="{{ siniestro.imagen2.url }}" width="150"><br>{{ siniestro.expli2 }}</li>
            {% endif %}
            {% if siniestro.imagen3 %}
                <li><img src="{{ siniestro.imagen3.url }}" width="150"><br>{{ siniestro.expli3 }}</li>
            {% endif %}
            {% if siniestro.imagen4 %}
                <li><img src="{{ siniestro.imagen4.url }}" width="150"><br>{{ siniestro.expli4 }}</li>
            {% endif %}
            {% if siniestro.imagen5 %}
                <li><img src="{{ siniestro.imagen5.url }}" width="150"><br>{{ siniestro.expli5 }}</li>
            {% endif %}
        </ul>
    {% else %}
        <p>No se han subido evidencias todavía.</p>
    {% endif %}
</div>
{% endblock %}